/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&family=Nunito:wght@600&family=Open+Sans:ital,wght@0,400;1,300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');

/* general settings */

*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito','Courier New', Courier, monospace;
}


/* body setting */

body {
  background-color: #0e0e0e;

}

/* container main setting */
.container-main {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
}

.background_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(img/aside.jpg);
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  width: 40%;
}

/* all left settings */
.left_text {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 7rem;
  margin-top: 10vw;
  color: white;
  align-items: center;
  justify-content: center;
}

.span-photographer {
  text-decoration: underline;
}

img {
 height: 6rem;
}

h2 {
  font-size: 50px;
}

h5 {
  text-align: center;
  color: white;
}


/* right side */
.background_right {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #f9fafb;
  height: 100vh;
  width: 60%;
}

/* p right side settings */
.p-right_side {
  margin: 20% 15% 0% 5%;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}

/* form right side settings */

.form-div {
  margin: 10% 0% 0% 0%;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

/* form p settings */
.form-p {
  font-size: 25px;
  margin: 0% 15% 0% 5%;
}

/* form global settings */

.form-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0% 15% 0% 5%;
}

.form-container input {
   border-radius: 3px;
}

button{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
  background-color: #596d48;
  color: white;
  margin-left: 5%;
}

button:hover{
  background-color: #4d5843;
  cursor: pointer;
}

.p-button {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
}

.a-button {
  text-decoration: none;
  color: #596d48;

}






